body{
    background-color:aqua;
    height:100vh;
    align-items:center;
    text-align:center;

  

}

.container{
    background-color:white;
    padding:25px 35px;
    border-radius:10px;
    box-shadow:0 0 10px #acc;
    text-allign :center;
    width:30px;

}
input{
    width:90x;
    padding:8px;
    margin:8px 0;
    border-radius: 5px;
    border:1px solid #acc;
}
button{
    background-color:#007BFF;
    padding:8px;
    margin:8px 0;
    border:none;

}


   